html, body {
    font-family: -apple-system;
    margin: 0;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 100px;
}

.chatfeed-wrapper {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding-bottom: 20px;
}

#chat-panel {
    padding: 0 10px;
}

.chat-history {
    display: block;
    min-height: 250px;
}

.outer {
    display: block;
    height: 50%;
    overflow-y: scroll;
    position: relative;
}

.inner {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

input {
    width: 100%;  /* 너비를 100%로 설정하여 부모 요소를 넘어가지 않도록 함 */
    padding: 30px;  /* 필요에 따라 패딩 조정 */
    box-sizing: border-box;  /* 패딩과 테두리가 너비 계산에 포함되도록 설정 */
    border: none;
    border-top: 1px solid #ddd;
    font-size: 16px;
    outline: none;
}

code {
    background-color: #eee;
    padding: 10px 20px;
    display: block;
    margin: auto;
}
